<!doctype html>
<html>
  <%- include("components/head") %>
  <body>
    <%- include("components/header") %>
    <main><%- content %></main>
    <%- include("components/footer") %>
    <script src="<%= meta.domain %>/scripts.js"></script>
  </body>
</html>
