<!doctype html>
<html>
  <%- include("components/head") %>
  <body class="grid ma0 pb2 relative">
    <%- include("components/header") %>
    <main class="pb2 pt2"><%- content %></main>
    <%- include("components/footer") %>
    <script src="<%= meta.domain %>/scripts.js"></script>
  </body>
</html>
