<!doctype html>
<html lang="en-us" data-theme="light">
  <%- include("components/head") %>
  <body>
    <%- include("components/header") %>
    <main><%- content %></main>
    <%- include("components/footer") %>
    <script src="<%= meta.domain %>/js/scripts.js"></script>
    <% if (process.env.ELEVENTY_ENV === "production") { %>
      <%- include("components/sw") %>
    <% } %>
  </body>
</html>
