<%
  const posts = items
  posts.forEach(item => {
%>
  <article>
    <a href="<%= meta.domain %><%= item.url %>" class="permalink"><h2 class="list__title"><%= item.data.title %></h2></a>
    <section class="meta__wrap">
      <time datetime="<%= item.date.toUTCString() %>" class="meta"><span aria-label="Posted on">&tau;</span><%= item.date.toISOString().substring(0, 10) %></time>
      <p class="tag"><span aria-hidden="true" class="meta">#</span><a href="<%= meta.domain %>/tags/<%= item.data.tags %>" itemprop="about" class="meta"><%= item.data.tags %></a></p>
    </section>
    <p><%= item.data.summary %></p>
  </article>
<% }) %>