---json
{
  "layout": "default"
}
---

<article>
  <h1 class="marked title"><%= title %></h1>
  <section class="meta__wrap">
    <time datetime="<%= date %>"><span aria-label="Posted on">&tau;</span><%= date %></time>
    <p class="tag"><span aria-hidden="true">#</span><a href="<%= meta.domain %>/tags/<%= tags %>" itemprop="about" class="tag__name"><%= tags %></a></p>
  </section>
  <p><%- content %></p>
</article>